body {
    background-color: #121212;
    color: #ffffff;
}

.bg-primary {
    background-color: #1c1c1c !important;
}

.bg-dark {
    background-color: #0d0d0d !important;
}

.form-control {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
}

.form-control:focus {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #555;
    box-shadow: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}