body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

h1, h2 {
    font-weight: bold;
    text-align: center;
}

.bg-primary {
    background-color: #1c1c1c !important;
}

.bg-dark {
    background-color: #0d0d0d !important;
}

.card {
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 500px;
    object-fit: cover;
}

header img {
    width: 60px;
    height: 60px;
}

footer p {
    margin: 0;
}

/* Ajustes para las imágenes en el carrusel */
.carousel-item img {
    max-height: 150px; /* Tamaño más pequeño para las imágenes */
    width: auto;
    object-fit: contain; /* Mantiene la proporción de las imágenes */
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    .banner h2 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .team-card {
        margin: 1rem auto;
        width: 90%;
    }

    .carousel-item img {
        max-height: 150px !important;  /* Asegura que el max-height se aplique correctamente */
        width: 100% !important;        /* Asegura que la imagen ocupe todo el ancho */
        object-fit: contain !important; /* Mantiene la proporción de la imagen */
    }
}

@media (max-width: 576px) {
    nav .navbar-brand {
        font-size: 1.2rem;
    }

    .card {
        margin: 1rem auto;
        padding: 0.5rem;
    }

    footer {
        font-size: 0.9rem;
    }

    /* Ajuste en la imagen del carrusel para pantallas muy pequeñas */
    .carousel-item img {
        max-height: 100px; /* Ajusta aún más el tamaño en pantallas más pequeñas */
    }
}
